@using Microsoft.AspNetCore.Identity;
@inject UserManager<UsersModel> userManager;
@model IEnumerable<Vacation_Ready.Models.RequestsModel>

@{
    ViewBag.Title = "Requests";
    Layout = "~/Views/Shared/NavBars.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/css/nav-bars.css">
}

<h2>Requests</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Date of request</th>
                <th>User</th>
                <th>From</th>
                <th>Until</th>
                <th>Type</th>
                <th>Half-day</th>
                <th>Attachment</th>
                <th>Approved</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.DateSent)</td>
                    <td>
                        @{
                            var user = userManager.Users.FirstOrDefault(x => x.Id == item.UserId);
                            @Html.Raw(user)
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.FromDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.UntilDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.LeaveType.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.HalfDay ? "Yes" : "No")</td>
                    <td>
                        <a href="@item.AttachmentUrl">Link</a>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Approved ? "Yes" : "No")</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>