@using Microsoft.AspNetCore.Identity;
@inject UserManager<UsersModel> userManager;
@model IEnumerable<Vacation_Ready.Models.UsersModel>

@{
    ViewBag.Title = "Users";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                First name
            </th>
            <th>
                Last name
            </th>
            <th>
                Roles
            </th>
            <th>
                Teams
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @{ 
                    var roles = await userManager.GetRolesAsync(item);
                    string str = string.Join(", ", roles);
                    @Html.Raw(str);
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teams)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>